
html, body {
    height: 80rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #030b13;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

nav {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 1000;
}

footer {
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer p {
    color: #DEE0E1;
}

p {
    color: #DEE0E1;
}


button {
    margin-top: 10px;
}


.container {
    display: flex;
    justify-content: center;
}

.cadastro {
    width: 600px;
    height: 500px;
    background-color: black;
    margin: 100px;
    display: flex;
    justify-content: center;
}

h2 {
    color: #DEE0E1;
}



.btn {
    background-color: #e50914;
}



.slide {
    overflow: hidden;
    height: 800px;
}

.slide h2 {
    margin-top: 20px;
    font-size: 24px;
  
}

.card {
    background-color: #212529;

}




.infos h2 {
    text-transform: uppercase;
    color: #f5f7fa;
    margin-top: -50px;
    
   
   
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cadastro {
    
    background-color: #f5f7fa 80%;
    border: 1px solid #212529;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#form-login {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 268px;
    justify-content: center;
    cursor: pointer;

}

@keyframes aumentarTamanho {
    from, to{
        scale: 100%;
    }
    50% {
        scale: 120%;
    }
}

#form-box {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form-box input {
    
    display: flex;
    font-size: 12px;
    padding: 12px 9px;
    background-color:  #f5f7fa 80%;
    border: 1px solid #815d5d;
    width: 268px;
    margin: 5px auto;
    border-radius: 5px;
}

#form-box input[type="submit"]{
    background-color:  #f5f7fa 80%;
    color: black;
    margin: 15px;
    border-radius: 5px;
    height: 30px;
    border-color: #f5f7fa;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    
}

#submit {
    margin-top: 50px;
    animation: aumentarTamanho 3s linear infinite;
    border-radius: 10px;
}

#anim {
    animation: aumentarTamanho 3s linear infinite;
    margin: 20px;
}
.main-banner {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url('../imagens/movie-background-collage.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 70rem;
}

.main-banner2 {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url('../imagens/movie-background-collage.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 500rem;
}



.card {
    height: 80px;
}



.slide h2{
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100vw; /* A imagem ocupa 100% da largura do contêiner */
    height: 100vh; /* A altura da imagem será 100% da altura da viewport */
    object-fit: contain; /* A imagem cobre o contêiner mantendo a proporção */
}

.carousel-caption {
    margin: 100px;
    color: #fff; 
    padding: 10px; 
    border-radius: 5px;
}

/* Ajustes para telas pequenas (320px e acima) */
@media (min-width: 320px) {
    .carousel-item img {
        height: 90vh; /* Ajusta a altura para 90% da viewport em telas menores */
        flex: 1 1 100%; /* Faz o item ocupar 100% da largura disponível */
    }

    .carousel-caption {
        margin: 80px;
        color: #fff; 
        padding: 10px; 
        border-radius: 5px; 
    }
}

/* Ajustes para telas médias (768px e acima) */
@media only screen and (min-width: 768px) {
    .carousel-item img {
        height: 95vh; /* Ajusta a altura para 95% da viewport em tablets e telas médias */
    }
    .carousel-caption {
        margin: 100px;
        color: #fff; 
        padding: 10px; 
        border-radius: 5px;  /* Ajusta o tamanho da fonte da legenda */
    }
}

/* Ajustes para telas grandes (1200px e acima) */
@media only screen and (min-width: 1200px) {
    .carousel-item img {
        height: 80vh;
        width: 150vh;
        object-fit: fill;
        
         /* Altura completa da viewport em telas grandes */
    }
    .carousel-caption {
        margin: 20px;
        color: #fff; 
        padding: 10px; 
        border-radius: 5px; 
    }
   
}


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0; /* Removido o "%" para o padding ser corretamente aplicado como 0 */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}
#movies {
    flex: 1 1;
        width: 33.33333333%;
}



.card-title {
    color: #ffffff;
}


.btn a {
    color: aliceblue;
    text-decoration: none;
}

.nab-link a {
    color: red;
    text-decoration: none;
}



.error {
    color: red;
    display: none;
}
.success {
    color: rgb(219, 229, 236);
    display: none;
}

#form-login input {
    margin-bottom: 10px;
    border: 1px solid #f5eded;
}

.google a {
    color: #030b13;
}

#google {
    width: 250px;
    height: 40px;
   
}

.google svg {
    margin-left: 0%;
}

.checkbox {
    color: aliceblue;
    margin: 10px;
}

#pesquisa {
    width: 350px;
}

#aaa {
   margin: 100px;
}

.bi {
    display:inline;
    margin-left: 200px;
}

#btn:hover {
    background-color: rgb(253, 8, 8); 
    border:  rgb(253, 8, 8);
} 

#submit:hover {
    background-color: rgb(253, 8, 8); 
    border:  rgb(253, 8, 8);
} 

