@import "../../node_modules/bootstrap/scss/bootstrap";

$primary: #212529;

.card {
    background-color: #212529;
    
}

.space {
    display: flex;
    justify-content: space-between;
}


.btn {
    background-color: red;
}