<!DOCTYPE html>
<html lang="en">

<head>
    <title>Darkview Sinopses de Filmes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/bootstrap-icons.svg">
    
    
</head>
<body class="bg-secondary">
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="../assets/imagens/DARKVIEW.png" alt="Darkview">
        </div>
    </nav>
    </header>
    <main >
        <div class="main-banner">
            <div class="cad">
                <div class="cadastro">
                    <div class="infos">
                        <h2>CADASTRO</h2>
                        <br>
                    </div>
                
                    <form id="form-login" novalidate>
                        <input type="name" class="form-control" id="name" name="name" minlength="3" maxlength="50" placeholder="Nome" autofocus pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"/>
                        <span class="error" id="nameError"></span>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
                        <span class="error" id="emailError"></span>
                        <input type="idade" class="form-control" id="age" name="age" min="1" max="120" placeholder="Idade"/>   
                        <span class="error" id="ageError"></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Senha" pattern="^(?=.*[a-z]).{8,}$">
                        
                        <button id="submit" type="submit" class="btn btn-danger">CADASTRAR-SE</button>
                        
                    </form>
                    
                    <div id="successMessage" style="display: none; color: green;"></div>


                    <div class="google">
                        <button type="button" class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                          </svg></i> <a href="https://accounts.google.com/v3/signin/identifier?hl=pt-br&ifkv=AaSxoQwBgLtDxdFP29NHApQLb6l8YZrbGyZwOmCmWYZw6vcBllQA_dRVe4BxQ8_uH96GM3dp0uAk&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S2013368236%3A1714449150058459&theme=mn&ddm=0">Continue com o google</a> </button>   
                    </div>
                    <br>
                    <p> Já possui cadastro? <a href="login.html">Acesse aqui.</a></p>
                    <!--<div id="storedData" style="display:none;">
                        <h3>Dados Armazenados</h3>
                        <p>Nome: <span id="storedName"></span></p>
                        <p>Email: <span id="storedEmail"></span></p>
                        <p>Idade: <span id="storedAge"></span></p>
                    </div>-->
                </div>
                
            </div>
        
            
        
        </div>
    </main>
    <footer class=" footer-expand-lg footer-dark bg-dark">
       <p class="flow-text-white">Darkview &copy; 2024</p>
    </footer>
    <script src="../app/user.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="../app/index.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
</body>

</html>