<!DOCTYPE html>
<html lang="en">

<head>
    <title>Darkview Sinopses de Filmes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/bootstrap-icons/bootstrap-icons.svg">
    
</head>

<body>
    <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="../assets/imagens/DARKVIEW.png" alt="Darkview">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavBar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menuNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link " href="inicio.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="avaliacoes.html">Avaliações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="fav.html">Favoritos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- main -->
    <main class ="main-banner ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <section class="slide">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <h3 class="text-center">Filmes em alta no momento</h3>
                                    <div class="carousel-item active">
                                        <img src="../assets/imagens/big-poster-nos-filme-lo01-tamanho-90x60-cm-presente-geek.jpg" class="d-block w-100" alt="...">
                                        <h5>Nome do Filme</h5>
                                        <a class="btn btn-danger" href="#" role="button">Ver mais</a>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </section>
                        </div>
                        
                    </div>
                    <div id="movies-container" class="row">
                        
                    </div>

       
      
    </main>
    <!-- main -->

    <!-- footer -->
    <footer class=" footer-expand-lg footer-dark bg-dark">
        <p class="flow-text-white">Darkview &copy; 2024</p>
    </footer>
    <!-- footer -->
    <script src="../js/script.js"></script>
    <script src="assets/libraries/jquery/jquery-3.3.1.min.js"></script>
    <script src="assets/libraries/materialize/js/materialize.js"></script>
    <script src="assets/resources/scripts/index.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>